
<!doctype html>
<html class="no-js" lang="">
<head>
    <meta name="csrf-token" content="m07FtkRLdiISvDJhLDTl5ysviHE868mrjVJ9aEJP">

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Prompt:400,600" rel="stylesheet">

    <meta name="description"
          content="Easily request the graphics that you need without compromising quality and turnaround time. Free 15 days trial, no contracts. Over 4 years of experience">
    <meta name="viewport" content="width=device-width, initial-scale=1">



    <!-- Bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/scripts/style.css">
    

  
</head>
<body style="padding-top: 25vh">

<div id="app"> 


    <div class="container hero--container">
        <div class="row mt-20 pb-md-5">
            <div class="col-12 order-2 order-sm-1 col-sm d-flex flex-column justify-content-center mb-2 mb-md-0 mt-3 mt-md-0">
                <h1 class="hero--title text-bold text-center" style="font-size:50px;"> <span style="color: #d82941;">AI</span> </h1>

                <div class="hero--description pt-2 text-center"">
                     Services with  Intelligence.....!
                </div>
              
            </div>

            <div class="col-12 order-1 order-sm-2 col-sm text-center d-flex align-items-center mt-3 mt-md-0 justify-content-center">
                <img class="img-fluid hero--main--image" src="/static/scripts/try-kapa-hero-icon.svg" alt="Try Kapa99 for free">
            </div>
        </div>
    </div>

    
</div>
</body>
</html>
